{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Documentation of the Unweave API",
    "title": "Unweave API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "host": "api.unweave.io",
  "basePath": "/",
  "paths": {
    "/session": {
      "post": {
        "tags": [
          "session"
        ],
        "operationId": "create",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SessionCreateParams"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/sessionCreate"
          }
        }
      }
    },
    "/session/{id}": {
      "get": {
        "tags": [
          "session"
        ],
        "operationId": "get-session",
        "parameters": [
          {
            "type": "string",
            "description": "session ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/sessionGetResponse"
          }
        }
      }
    }
  },
  "definitions": {
    "HTTPError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Code",
          "example": 400
        },
        "message": {
          "type": "string",
          "x-go-name": "Message",
          "example": "Bad Request"
        }
      },
      "x-go-package": "github.com/unweave/unweave-v2/api"
    },
    "RuntimeProvider": {
      "description": "RuntimeProvider is the platform that the node is spawned on. This is where the user\ncode runs",
      "type": "string",
      "x-go-package": "github.com/unweave/unweave-v2/session/model"
    },
    "SSHKey": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "privateKey": {
          "type": "string",
          "x-go-name": "PrivateKey"
        },
        "publicKey": {
          "type": "string",
          "x-go-name": "PublicKey"
        }
      },
      "x-go-package": "github.com/unweave/unweave-v2/session/model"
    },
    "Session": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-go-name": "ID"
        },
        "runtimeStatus": {
          "type": "string",
          "enum": [
            "initializingNode",
            "running",
            "stoppingNode"
          ],
          "x-go-enum-desc": "initializingNode StatusInitializingNode\nrunning StatusRunning\nstoppingNode StatusStoppingNode",
          "x-go-name": "Status"
        },
        "sshKey": {
          "$ref": "#/definitions/SSHKey"
        }
      },
      "x-go-package": "github.com/unweave/unweave-v2/api"
    },
    "SessionCreateParams": {
      "type": "object",
      "properties": {
        "runtime": {
          "$ref": "#/definitions/RuntimeProvider"
        },
        "sshKey": {
          "$ref": "#/definitions/SSHKey"
        }
      },
      "x-go-package": "github.com/unweave/unweave-v2/api"
    }
  },
  "responses": {
    "errorResponse": {
      "description": "",
      "schema": {
        "$ref": "#/definitions/HTTPError"
      }
    },
    "sessionCreate": {
      "description": "",
      "schema": {
        "$ref": "#/definitions/Session"
      }
    },
    "sessionGetResponse": {
      "description": "",
      "schema": {
        "$ref": "#/definitions/Session"
      }
    }
  }
}